.formacao {
    padding-bottom: 82px;
    width: 100%;
}

.formacao__titulo {
    margin-bottom: 32px;
    padding-top: 82px;
}

.formacao__cursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.cursos__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 224px;
    width: 30%;
}

.cursos__item--img {
    display: flex;
    height: 75%;
    min-height: 169px;
    min-width: 224px;
    width: 100%;
}

.cursos__item--titulo {
    font-size: 22px;
    font-weight: bold;
    justify-self: flex-start;
    margin: 8px 0;
}

.business {
    padding-bottom: 1.2rem;
}
.cursos__item--subtitulo {
    font-size: 16px;
}

@media screen and (max-width: 860px) {
    .formacao__cursos {
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;
    }    

    .cursos__item {
        width: 90vw;
        height: 70vh;
    }

    .cursos__item--titulo {
        font-size: 18px;
    }

    .cursos__item--subtitulo {
        font-size: 16px;
    }

    .cursos__item--img {
        width: 90vw;
        min-width: 296px;
    }

    .business {
        padding-bottom: 0;
    }

    .cursos__item--subtitulo {
        margin-bottom: 1rem;
    }
}