.projeto__1 {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 64px;
}

.projetos__titulo {
    margin: 32px 0;
}

.projetos__img {
    box-shadow: 10px 10px 2px 1px #C4B9A1;
    border-radius: 2px;
    height: 406px;
    width: 70%;
}

.projetos__descricao {
    display: block;
    margin-left: 2rem;
}

.projetos__descricao-titulo {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.projetos__descricao-subtitulo {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.projetos__descricao-botao {
    background-color: #222222;
    border-radius: 5px;
    border-style: inset;
    color: #E4E5C6;
    cursor: pointer;
    height: 2.5rem;
    margin-right: 1rem;
    text-align: center;
}

.projetos__descricao-botao a {
    color: inherit;
    text-decoration: none;
}

.projetos__descricao-botao:hover {
    color: #3CBFBA;
}

@media screen and (max-width: 678px) {
    .projeto__1 {
        display: block;
    }

    .projetos__img {
        width: 100%;
        margin-bottom: 15px;
    }
}