* {
	box-sizing: border-box;
}

body {
	background: #E4E5C6;
	color: #222222;
	font-family: 'Roboto Serif', sans-serif;
	width: 100%;
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}

.bg-escuro {
	background-color: #C4B9A1;
    background-clip: padding-box;
    background-size: cover;
}

.titulo-sections {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}

/*@media screen and (max-width: 480px) {
	
}*/

@media screen and (max-width: 860px){
	.container {
		padding-left: 2%;
		padding-right: 2%;
	}
	
	.titulo-sections {
		font-size: 26px;
	}
}

@media screen and (max-width: 1041px) and (min-width: 860px){
	.container {
		padding-left: 5%;
		padding-right: 5%;
	}
}