* {
	box-sizing: border-box;
}

body {
	background: #E4E5C6;
	color: #222222;
	font-family: 'Roboto Serif', sans-serif;
	width: 100%;
}

.main{
	width: 78.8888%;
	margin: 0 auto;
}

.titulo-sections {
	font-size: 38px;
	font-weight: bold;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.main{
		width: 100%;
	}
}

@media screen and (max-width: 860px){
	.main{
		width: 100%;
	}
}

@media screen and (max-width: 1041px) and (min-width: 860px){
	.main{
		width: 95%;
	}
}