.sobre {
    line-height: 1.2;
	margin: 32px 0;
    padding: 64px 0;
	width: 100%;
    background-color: #C4B9A1;
    background-clip: padding-box;
    background-size: cover;
}

@media screen and (min-width: 1250px) {
    .sobre {
        width: 60%;
    }
}