.apresentacao__conteudo {
	height: auto;
}

.conteudo__titulo {
    font-size: 52px;
    font-weight: bold;
    margin: 50px 0 24px 0;
}

.conteudo__resumo {
	font-size: 22px;
    margin-bottom:  24px;
}

.conteudo__links {
	display: flex;
	font-size: 16px;
    margin-right: 3rem;
    margin-bottom: 24px;
}

.conteudo__links a {
    text-decoration: none;
    color: inherit;
}
.conteudo__links a:hover {
    text-decoration: underline;
}